.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  .profile-info .balance {
    margin-top: 10px;
    font-size: 1rem;
    color: red;
  }
  
  
  .profile img {
    display: flex;
    padding-top: 30px;
    padding: auto;
    width: 100%;
    max-width: 256px;
    height: auto;
    margin-bottom: 20px;
  }
  
.profile-info {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #a2ee84;
  border-radius: 6px;
}
@media only screen and (max-width: 767px) {
  .profile {
    
    flex-direction: column;
  }

  .profile img {
    max-width: 50%;
    margin: 0 auto; /* Thêm đoạn này */
    padding-bottom: 10px;
  }

  .profile-info {
    font-size: 22px;
  }

  .profile-info .email {
    font-size: 22px;
  }
}
  
.container{
  display: flex;
  justify-content: space-between;
}

.c-layout-sidebar-menu.c-theme{
  width: 30%;
}

.c-layout-sidebar-content{
  width: 68%;
}
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .c-layout-sidebar-menu {
    order: 1; /* đặt phần menu lên đầu */
  }

  .c-layout-sidebar-content {
    order: 2; /* đặt phần content xuống dưới */
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
}
@media screen and (max-width: 767px) {
    .row-cols-2 > div {
        float: none;
        width: 100%;
    }
}
@media (max-width: 767px) {
  .c-layout-sidebar-content {
    width: 100%;
  }
}   

.sidebar-menu {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(16, 173, 68, 0.2);
  padding: 20px;

  /* Hiệu ứng khi hover */
  transition: all 0.3s ease-in-out;
}

.sidebar-menu:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(16, 173, 68, 0.3);
  opacity: 1;
}

/* Thiết kế title */
.menu-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase; /* Đổi chữ hoa */
  letter-spacing: 2px; /* Khoảng cách giữa các chữ cái */
  border-left: 4px solid #ffcc00; /* Viền bên trái */
  padding-left: 10px; /* Khoảng cách từ viền bên trái tới chữ */
  padding-top: 12px;
}

/* Thiết kế list */
.menu-list {
  list-style-type: disc;
  padding-left: 0;
  margin-bottom: 0;
}

.menu-list li {
  position: relative;
  transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
}
.menu-list li:hover {
  background-color: #f5f5f5;
}

.menu-list li:hover a {
  color: #1be636;
}
.menu-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 5px; /* Kích thước bullet */
  height: 5px; /* Kích thước bullet */
  background-color: #ffcc00; /* Màu sắc bullet */
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.menu-list li:hover:before {
  transform: scale(3);
  opacity: 1;
}

.menu-list li a {
  color: #333;
  display: block;
  font-size: 16px;
  padding: 2px;
  text-decoration: none;
}

.menu-list li a:hover {
  background-color: #f5f5f5;
  color: #1be636;
}
.menu-list .quantity {
  background-color: #d9534f;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin-left: 5px;
  text-align: center;
  width: 16px;
}

.c-layout-sidebar-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(34, 2, 221, 0.2);
  padding: 20px;
}
.c-layout-sidebar-content:hover {
  transform: scale(1.05); /* Phóng to phần tử lên */
  box-shadow: 0 2px 6px rgba(8, 231, 8, 0.3); /* Thay đổi hiệu ứng shadow */
  transition: transform 0.2s ease-in-out; /* Thời gian và kiểu chuyển động của hiệu ứng */
}
.c-content-title-1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.c-line-left {
  border-left: 3px solid #d9534f;
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}   